API_ID=31172771
API_HASH=b848338af888a47e242ee6a2dc8236e6
BOT_TOKEN=8918198528:AAEkyxXW0t36yPw7In2SA4nrlsNmBAlCT9M
LOGGER_ID=-1002591210622
MONGO_DB_URI=mongodb+srv://aybalam:03545162323@tgmusic.yxkkqg4.mongodb.net/?appName=tgmusic
OWNER_ID=8918198528
STRING_SESSION=BAHbqKMAnwhtuyBIJ9W1nlSUWhQEKPDlTJ3ISV2w1K8Kl0MHnZToZql5JN_aNTXPcZ-6ArhOBkdNLNObivIMerawIXFDI0Sgbk38pB-y-qrXx0S757yaGMejw3X26ntunKZjIiVxD9NWHSObFlfx1X2yvjMZjaSQmTCqvwXsSEl264yMG3ol_GPfKsVmJYDEyioOYLjBNcwlC0gh2QIj4HP92sK17xV8kNDzm54NLRTftDRUw_6e3yUwG0crl2exOFHTMtjt-iQbgCh6ih7oB0x3eTUDtMHTLIddVXCINfSn-6NzEa9s1IrmPp83Vt1tqbilIv9UnwXWsm5KcN8QdLQVnUNd0gAAAAH335VwAA
